<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Todo-list</title>
 <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
 <div class="box">
  <h1>Todo-list</h1>
 </div>

 <div class="box">
   <% ejes.forEach((task,i)=>{ %>
            <div class="items">
   <form action="/delete" method="post" class="delete-form">
     <input type="hidden" name="index" value="<%= i %>">
         <input type="checkbox" onchange="this.form.submit()">
   </form>
     <div class="task-wrapper">
       <% if(editIndex===i){ %>
       <form action="/edit" method="post">
        <input type="hidden" name="index" value="<%= i %>">
           <input type="text" name="newValue" value="<%= task %>" required>
       </form>
        <% } else { %>
          <p><%= task %></p>
           <a href="/edit/<%= i %>" class="edit-btn">Edit</a>
        <% } %>
     </div>
   </div>
   <% }) %>

 <form action="/" method="post" class="add-form">
  <input type="text" name="ele1" placeholder="enter your task" required>
   <button type="submit">+</button>
 </form>
 </div>
</body>
</html>
